name: Build Mesa

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to build'
        required: true
        type: string

jobs:
  start_building_turnip:
    runs-on: ubuntu-24.04
    env:
      BUILD_VERSION: ${{ inputs.version }}
    steps:
    - uses: actions/checkout@v3

    - name: Prepare environment
      run: |
        sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
        sudo apt update
        sudo apt install build-essential flex bison glslang-tools
        sudo apt install meson-1.5 

    - name: Execute build script
      run: bash ./turnip_builder.sh

    - name: Release "turnip"
      uses: softprops/action-gh-release@v1
      with:
        body: |
          Mesa 26.0 Turnip V${{ inputs.version }}  
          Built from: https://gitlab.freedesktop.org/mesa/mesa
          
          >[!WARNING]
          > This release is not related to old A8XX Turnip builds and meant for testing upstream Mesa on A840!
          > Adreno 830/829/825/810 are not supported!

          This is a build of current upstream Mesa (26.0) with my UBWC hacks applied.  
          Unlike my old Turnip builds, this one is based directly on the main repo with only essential hacks applied to boot it on Android WSI platform. As I said, it won't work on GPUs other than Adreno 840.  
          

        tag_name: mesa26_v${{ inputs.version }}
        name: Mesa 26.0 Turnip v${{ inputs.version }}
        files: |
           /tmp/mesa-turnip-V${{ inputs.version }}.zip
