name: Build "turnip"

on:
  workflow_dispatch:

jobs:
  start_building_turnip:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3

    - name: Prepare environment
      run: |
        sudo sed -i 's/^Types: deb$/Types: deb deb-src/' /etc/apt/sources.list.d/ubuntu.sources
        sudo apt update
        sudo apt install build-essential flex bison
        sudo apt install meson-1.5 

    - name: Execute build script
      run: bash ./turnip_builder.sh

    - name: Release "turnip"
      uses: softprops/action-gh-release@v1
      with:
        body: Turnip Vulkan driver library
        tag_name: github_run
        name: Action Release
        files: |
           /tmp/a8xx-gen8-hacks.zip
           /tmp/a8xx-gen8-yuck.zip
